<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <%- include ('blocks/header')-%>
    <main class="main-content">


        <h1>Booking Schedule</h1>
        <% schedule.forEach(roomSchedule => { %>
            <h2>Room Number: <%= roomSchedule.hall.room_number %></h2>
            <table>
                <thead>
                    <tr>
                        <th> </th>
                        <% roomSchedule.scheduleForHall.forEach(daySchedule => { %>
                            <% const date = new Date(daySchedule.date); %>
                            <% const formattedDate = `${date.getDate().toString().padStart(2, '0')}.${(date.getMonth() + 1).toString().padStart(2, '0')}.${date.getFullYear().toString().slice(-2)}`; %>
                            <th><%= formattedDate %></th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let hour = 9; hour <= 22; hour++) { %>
                        <tr>
                            <td><%= hour %>:00</td>
                            <% roomSchedule.scheduleForHall.forEach(daySchedule => { %>
                                <% const isAvailable = daySchedule.scheduleForDate.some(slot => slot.availableSlots.includes(hour)); %>
                                <td class="<%= isAvailable ? 'available' : 'booked' %>"></td>
                            <% }); %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        <% }); %>
        

          <h1>Бронирование</h1>
          <form action="/bookingcheck" method="POST" id="bookingForm">
            <label for="roomNumber">Номер зала:</label>
            <input type="text" name="roomNumber" id="roomNumber" required><br><br>
            <label for="bookingDate">Дата бронирования:</label>
            <input type="date" name="bookingDate" id="bookingDate" required><br><br>
            <label for="startTime">Время начала:</label>
            <input type="time" name="startTime" id="startTime" required><br><br>
            <label for="endTime">Время окончания:</label>
            <input type="time" name="endTime" id="endTime" required><br><br>
            <label for="fullName">Ваше имя:</label>
            <input type="text" name="fullName" id="fullName" required><br><br>
            <label for="phone">Номер телефона:</label>
            <input type="tel" name="phone" id="phone" required><br><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br><br>
            <input type="submit" value="Забронировать">
          </form>

          <div id="responseDiv"></div>
        

        <a href="/">Назад</a>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/ajax.js"></script>

<div id="responseDiv"></div>

    
    <%- include('blocks/footer') -%>

    

    
</body>
</html>